@import '../../index.scss';

.dashboard-container {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  @include sm {
    background-color: #f8f8f8;
    margin-top: 10rem;
  }
}

.big-card {
  display: flex;
  flex-direction: row;
  height: 15rem;
  width: 50rem;
  background-color: $white;
  margin-top: 2rem;
  border-radius: 50px;
  padding-left: 50px;
  align-items: center;
  @include sm {
    display: none;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  width: 53rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-self: flex-start;
  @include sm {
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 0;
    // background-color: $veryLightGrey;
  }
}

.small-card-img {
  height: 20rem;
  width: 20rem;
  @include sm {
    height: 8rem;
    width: 8rem;
  }
}

.small-card {
  display: flex;
  flex-direction: row;
  width: 24rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  height: 10rem;
  padding: 10px;
  background-color: $white;
  border-radius: 20px;
  align-items: center;
  @include sm {
    margin-right: 0;
    width: 21rem;
    margin-bottom: 2rem;
  }
}

.small-card-left-side {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  color: $subText;
}

.image-container {
  height: 10rem;
  width: 10rem;
  border-radius: 10rem;
  background-color: grey;
}

button {
  width: 6rem;
  align-self: flex-end;
  margin-top: 1rem;
  background-color: $white;
  border: 1px $white solid;
  outline: none;
  color: $red;
  font-weight: bold;
}

.text {
  display: flex;
  flex-wrap: wrap;
  width: 35rem;
  color: $subText;
}

.user-details {
  margin-left: 20px;
}

.card-header {
  display: none;
  @include sm {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
    border-bottom: 1px solid $grey;
    color: $averageGrey;
    padding-bottom: 10px;
    font-weight: bolder;
    margin-top: 25px;
  }
}


