@import '../../index.scss';


.content-container {
  width: 100%;
  // height: 100%;
  display: flex;
  overflow-x: hidden;
  justify-content: space-between;
  padding-right: 10px;
  @include sm {
    justify-content: center;
  }
}