@import '../../index.scss';

.progress-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.progress-bar {
  width: 99px;
  height: 11px;
  border-radius: 10px;
  background-color: #F3F3F3;
}

.progress-level {
  width: 30px;
  height: 11px;
  background-color: $red;
  border-radius: 10px;
}
